<%= link_to "Back to expenses", expenses_path, class:"btn btn-secondary" %>
<br/><br/>

<h1>Editing expense</h1>
<%= render "form", expense: @expense %>

<br>

<div>
  <%= link_to "Show this expense", @expense, class:"btn btn-secondary" %>
  
</div>
